// Core styles

@import 'sxcss';

.nui-badge {
  border-radius: var(--border-radius);
  height: var(--size);
  min-width: var(--size);
  @include flex($place: center);
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size, 10px);
  padding: var(--padding);
  box-sizing: border-box;
}
