@import 'sxcss';

.n-badge {
  border-radius: var(--border-radius);
  @include size(var(--size));
  @include flex($place: center);
  background: var(--background);
  color: var(--color);
  font-size: var(--font-size, 10px);
}
