@import 'sxcss';

[data-name-prefix="nui"].slider-carousel {
  @include slider-carousel(
    $base-classname: '.slider-carousel',
    $navigation-enabled: true,

    $wrapper-height: 450px,
    $wrapper-width: 100%,
    $wrapper-max-width: 37.5rem,
    $viewport-classname: '.slider-carousel__viewport',
    $viewport-counter: true,

    $item-classname: '.slider-carousel__item',
    $item-flex: 0 0 100%,
    $item-width: 25%,
    $item-counter: true,
    $visible-items: var(--visible-items),

    $navigation-classname: '.slider-carousel__navigation',

    $pagination-enabled: true,
    $pagination-classname: '.slider-carousel__pagination',
    $pagination-list-classname: '.slider-carousel__pagination-list',
    $pagination-item-classname: '.slider-carousel__pagination-item',
    $pagination-input-classname: '.slider-carousel__pagination-input',

    $gap: 16px
  );

  .slider-carousel__pagination-button {
    &:checked {
      background-color: var(--nui-color-white);
    }
  }

  .slider-carousel__navigation {
    opacity: var(--navigation-initial-opacity);
    transition: opacity .2s ease-out;
  }

  &:hover {
    .slider-carousel__navigation {
      opacity: 1;
    }
  }

  .slider-carousel__pagination {
    opacity: var(--pagination-initial-opacity);
    transition: opacity .2s ease-out;
  }

  &:hover {
    .slider-carousel__pagination {
      opacity: 1;
    }
  }
}
