@import 'sxcss';

.n-icon {
  cursor: pointer;
  position: relative;
  // height: var(--height);
  // width: var(--width);
  @include size(var(--size));
  
  &__badge {
    position: absolute;
    top: -6px;
    right: -6px;
    user-select: none;
  }
}
