.overflow-carousel {
  @include overflow-carousel(
    $viewport-classname: '.overflow-carousel__viewport',
    $viewport-width: 100%,
    $gap: 20px,
    $viewport-padding-left: 20px,
    $slide-classname: '.overflow-carousel__item',
    $slide-width: 300px,
    $slide-height: 300px
  );

  .overflow-carousel__viewport {
    &::-webkit-scrollbar {
      display: none;
    }
    & {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    } 
  }

  .overflow-carousel__item {
    @include flex($place: center);
    background-color: #bbb;

    &-content {
      @include flex($place: center);
      text-align: center;
      font: 700 24px/32px -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
      color: car(--black) !important;
    }
  }
}
