@import 'sxcss';
@import '../../styles/variables/colors';

[nui-namespace="nui"] {

  &.button {
    &:not(.button[disabled="disabled"]) {
      @include hover-effect($opacity: .36);
    }
    &.button[disabled="disabled"] {
      cursor: not-allowed;
      opacity: .75;
    }
    &:active,
    &:focus {
      opacity: .9 !important;
    }
    height: 48px;
    padding: 0 16px;
    display: flex;
    font-size: 18px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    border: unset;
    cursor: pointer;
    background-color: var(--button-background-color);
  }

  .button__text,
  .button__icon {
    @include flex($place: center);
    color: var(--button-text-color);
    svg {
      fill: var(--button-text-color) !important;
    }
  }

  .button__icon {
    &--left {
      margin-right: 12px;
    }
    &--right {
      margin-left: 12px;
    }
  }
}
