@import 'sxcss';
@import '../../styles/variables/colors';

[nui-namespace="nui"] {

  &.button {
    display: flex;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    border: unset;
    cursor: pointer;
    background-color: var(--button-background-color);

    /** SIZES **/

    &.button--small {
      height: 36px;
      padding: 0 12px;
      font-size: 14px;
    }

    &.button--medium {
      height: 48px;
      padding: 0 16px;
      font-size: 16px;
    }

    &.button--big {
      height: 64px;
      padding: 0 20px;
      font-size: 18px;
    }

    /** STATES **/

    &:not(.button[disabled="disabled"]) {
      @include hover-effect($opacity: .36);
    }

    &.button[disabled="disabled"] {
      cursor: not-allowed;
      opacity: .75;
    }

    &:not(.button[disabled="disabled"]):active,
    &:not(.button[disabled="disabled"]):focus {
      opacity: .9 !important;
    }

    /** CONTENT **/

    /// Text & icons color

    .button__text,
    .button__icon {
      @include flex($place: center);
      color: var(--button-text-color);
      svg {
        fill: var(--button-text-color) !important;
      }
    }

    /// Icons

    .button__icon {
      &--left {
        margin-right: 12px;
      }
      &--right {
        margin-left: 12px;
      }
    }
  }
}
