@import "../../styles/classes/form-field.scss";

.nui-form-field {
  &--wrapper {
    position: relative;
  }

  &__show-password {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    background: none;
    border: none;
    outline: none;
  }
}
