@import 'sxcss';

.n-select {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  width: var(--width);

  * {
    box-sizing: inherit;
    user-select: none;
  }

  select {
    appearance: none;
    pointer-events: none;
    height: var(--height) !important;
    width: var(--width) !important;
    border: var(--border-width) solid !important;
    border-color: var(--border-color) !important;
    padding: var(--padding) !important;
    // opacity: 0;
    // visibility: hidden;

    // &::after {
    //   content: '▾';
    //   position: absolute;
    //   right: var(--padding);
    //   color: #000;
    // }
  }

  &__label {
    display: block;
  }

  &--native-handler {
    .n-select--custom {
      display: none;
      position: absolute;
    }

    @media (hover: hover) {
      .n-select--custom {
        display: block;
      }

      select:focus + .n-select--custom {
        display: none;
      }
    }
  }

  // &__inner {
  //   position: relative;
  // }

  // select,
  &--custom {
    // position: absolute;
    // @include size(100%);
    color: var(--color);
  }

  &-custom-input {
    // padding: var(--padding);
    @include flex($align-items: center);
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    cursor: pointer;

    &__search-input {
      @include flex($align-items: center);
      font: inherit;
      background: none;
      border: none;
      color: var(--color);
      max-width: calc(var(--width) - calc(3 * var(--padding-select)));
      padding: 0 !important;

      &:focus {
        outline: none;
      }
    }

    &--multiselect-options {
      position: relative;
      display: flex;
      align-items: center;
      line-height: normal;

      &__placeholder {
        @include flex($align-items: center, $wrap: nowrap);
        line-height: normal;
        position: absolute;
        top: 25%;
        opacity: 0.7;
      }
    }
  }

  &__custom-items {
    top: 0;
    left: 0;

    &__selected-options {
      @include flex($align-items: center, $wrap: nowrap);
      height: 100%;
      top: 0;
      gap: 4px;
      overflow-y: hidden;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &__item {
        white-space: nowrap;
      }
    }

    &__options {
      position: absolute;
      cursor: pointer;
      left: 0;
      width: 100%;
      background-color: var(--background-color);
      z-index: 1;
      display: none;
      background: #fff;
      border: var(--border-width) solid;
      border-color: var(--border-color);
      // width: calc(100% + 2 * var(--border-width));
      // transform: translateX(calc(var(--negative-factor) * var(--border-width)));
      transform: translateY(calc(var(--negative-factor) * var(--border-width)));
      outline: none;
    }

    &.active &__options {
      display: block;
    }

    &__option {
      font-size: var(--text-size);
      position: relative;
      padding: var(--option-padding);
      height: var(--height);
      @include flex($place: 'start center');
      background-color: var(--option-background-color);

      &-inner {
        width: 100%;
      }

      &.selected {
        &:hover {
          background-color: var(--option-hover-background-color);
        }

        .n-select--custom__option-inner {
          &::after {
            content: '✓';
            position: absolute;
            right: var(--option-padding);
          }
        }
      }

      &:hover {
        background-color: var(--option-hover-background-color);
        cursor: default;
      }

      &.candidate {
        background-color: var(--option-hover-background-color);
      }
    }
  }

  select,
  &--custom__placeholder {
    font-size: var(--text-size);
    background-color: var(--background-color);
  }
}
