@import 'sxcss';

.n-select {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;

  * {
    box-sizing: inherit;
    user-select: none;
  }

  &--native-handler {
    .n-select--custom {
      display: none;
      position: absolute;
    }

    @media (hover: hover) {
      .n-select--custom {
        display: block;
      }

      .n-select--native:focus + .n-select--custom {
        display: none;
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  &--native,
  &--custom {
    position: relative;
    width: var(--width);
    height: var(--height);
    color: var(--text-color);
  }

  &--custom {
    top: 0;
    left: 0;

    &__placeholder {
      @include flex($align-items: center);
      position: relative;
      width: 100%;
      height: 100%;
      background-color: var(--background-color);
      padding: 0 var(--padding-select);
      cursor: pointer;
      line-height: var(--line-height);

      &::after {
        content: '▾';
        position: absolute;
        line-height: var(--line-height);
        right: var(--padding-select);
      }

      &:hover {
        border-color: var(--border-hover-color);
      }
    }

    &__chips {
      position: relative;
      display: flex;
      align-items: center;
      line-height: normal;

      &__placeholder {
        @include flex($align-items: center, $wrap: nowrap);
        line-height: normal;
        position: absolute;
        top: 25%;
        opacity: 0.7;
      }
    }

    &__selected-options {
      @include flex($align-items: center, $wrap: nowrap);
      height: 100%;
      top: 0;
      gap: 4px;
    }

    &__search-input {
      @include flex($align-items: center);
      font: inherit;
      background: none;
      border: none;
      color: var(--text-color);
      max-width: calc(var(--width) - calc(3 * var(--padding-select)));
      padding-right: var(--padding-select);

      &:focus {
        outline: none;
      }
    }

    &__options {
      position: absolute;
      cursor: pointer;
      // top: calc(var(--line-height) + var(--padding-select));
      left: 0;
      width: 100%;
      // border: 1px solid var(--border-color);
      // border-radius: var(--border-radius);
      background-color: var(--background-color);
      // box-shadow: 0 0 4px #e9e1f8;
      z-index: 1;
      display: none;

      &:focus {
        outline: none;
      }
    }

    &.active &__options {
      display: block;
    }

    &__option {
      font-size: var(--text-size);
      position: relative;
      padding: var(--padding-option);
      padding-left: 2rem;

      &:hover {
        background-color: var(--option-hover-color);
        color: var(--text-hover-color);
        cursor: default;
      }

      &:not(:last-of-type)::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0.3rem;
        right: 0.3rem;
        // border-bottom: 1px solid var(--option-border-color);
      }

      &.selected {
        // background-color: var(--option-selected-color);

        &:hover {
          background-color: var(--option-hover-color);
        }

        &::before {
          content: '✓';
          position: absolute;
          left: var(--padding-option);
        }
      }

      // &.candidate {
      //   background-color: var(--option-hover-color);
      // }
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.4rem;
  }

  &__wrapper {
    position: relative;
  }

  &--native,
  &--custom__placeholder {
    font-size: var(--text-size);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
  }

  &--native {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: var(--padding-select);
    padding: 0rem var(--padding-select);
  }
}
