@import 'sxcss';

.n-select {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  width: var(--width);

  * {
    box-sizing: inherit;
    user-select: none;
  }

  select {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: var(--padding-select);
    padding: 0rem var(--padding-select);
    pointer-events: none;
    opacity: 0;
  }

  &__label {
    display: block;
  }

  &--native-handler {
    .n-select--custom {
      display: none;
      position: absolute;
    }

    @media (hover: hover) {
      .n-select--custom {
        display: block;
      }

      select:focus + .n-select--custom {
        display: none;
      }
    }
  }

  &__inner {
    position: relative;
    height: var(--height);
    width: var(--width);
    outline: var(--outline-width) solid;
    outline-offset: calc(var(--negative-factor) * var(--outline-width));
    padding: var(--padding);
  }

  select,
  &--custom {
    position: relative;
    color: var(--color);
    @include size(100%);
  }

  &--custom {
    top: 0;
    left: 0;
    padding: var(--padding);

    &__placeholder {
      @include flex($align-items: center);
      position: relative;
      width: 100%;
      height: 100%;
      background-color: var(--background-color);
      padding: 0 var(--padding-select);
      cursor: pointer;
      line-height: var(--line-height);
      // color: var(--placeholder-color);

      &::after {
        content: '▾';
        position: absolute;
        line-height: var(--line-height);
        right: 0;
        color: #000;
      }
    }

    &__chips {
      position: relative;
      display: flex;
      align-items: center;
      line-height: normal;

      &__placeholder {
        @include flex($align-items: center, $wrap: nowrap);
        line-height: normal;
        position: absolute;
        top: 25%;
        opacity: 0.7;
      }
    }

    &__selected-options {
      @include flex($align-items: center, $wrap: nowrap);
      height: 100%;
      top: 0;
      gap: 4px;
    }

    &__search-input {
      @include flex($align-items: center);
      font: inherit;
      background: none;
      border: none;
      color: var(--color);
      max-width: calc(var(--width) - calc(3 * var(--padding-select)));
      padding-right: var(--padding-select);

      &:focus {
        outline: none;
      }
    }

    &__options {
      position: absolute;
      cursor: pointer;
      left: 0;
      width: 100%;
      background-color: var(--background-color);
      z-index: 1;
      display: none;
      background: #fff;
      outline: var(--outline-width) solid;
      outline-offset: calc(var(--negative-factor) * var(--outline-width));
      transform: translateY(
        calc(var(--negative-factor) * var(--outline-width))
      );

      // &:focus {
      //   outline: none;
      // }
    }

    &.active &__options {
      display: block;
    }

    &__option {
      font-size: var(--text-size);
      position: relative;
      padding: var(--option-padding);
      height: var(--height);
      @include flex($place: 'start center');

      &:hover {
        background-color: var(--option-hover-color);
        border-left: var(--outline-width) solid;
        border-right: var(--outline-width) solid;
        padding: calc(var(--option-padding) - var(--outline-width));
        cursor: default;

        &:first-child {
          border-top: var(--outline-width) solid;
          padding-top: calc(var(--option-padding) - 2 * var(--outline-width));

          .n-select--custom__option-inner {
            &::after {
              right: calc(var(--option-padding) - var(--outline-width));
            }
          }
        }

        &:last-child {
          border-bottom: var(--outline-width) solid;
          padding-bottom: calc(
            var(--option-padding) - 2 * var(--outline-width)
          );
        }
      }

      &-inner {
        width: 100%;
      }

      &.selected {
        &:hover {
          background-color: var(--option-hover-color);
        }

        .n-select--custom__option-inner {
          &::after {
            content: '✓';
            position: absolute;
            right: var(--option-padding);
          }
        }
      }

      &.candidate {
        background-color: var(--option-hover-color);
      }
    }
  }

  select,
  &--custom__placeholder {
    font-size: var(--text-size);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
  }
}
