@import "sxcss";

[nui-namespace="nui"] {
    --w: 20em;
    --h: 3em;

    *, *:before, *:after {
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
    }

    &.select {
        @include position($position: relative);
        @include flex($direction: column);
        @include size($x: var(--w));

        .select-label {
            @include margin($bottom: 0.25em);
        }

        .select-input__wrapper {
            @include position($position: relative);
            @include size($x: var(--w), $y: var(--h));
            @include line-height(var(--h));
        }

        .select-input__inner {
            @include flex();
            @include size($x: 100%, $y: 100%);

            .select-input__input {
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;

                @include flex(1);
                @include cursor(pointer);
                @include border($style: solid, $width: 0.1em, $color: black, $radius: 0.25em);
                @include padding($x: .5em);

                &:focus {
                    @include outline(none);
                }
            }

            &:after {
                @include content("\25BC");
                @include position($position: absolute, $top: 0, $right: 0);
                @include padding($x: .5em);
                @include cursor(pointer);
                @include pointer-events(none);
            }
        }
    }
}
