@import 'sxcss';

.n-select {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  width: var(--width);

  * {
    box-sizing: inherit;
    user-select: none;
  }

  &__label {
    display: block;
  }

  &__select {
    position: relative;

    &--native {
      appearance: none;
      pointer-events: none;
      padding: var(--padding);
    }

    &--multiselect {
      border: var(--border-width) solid;
      border-color: var(--border-color);
      padding: var(--padding);
      position: absolute;
      top: 0;
      @include size(100%);
      @include flex($align-items: center, $wrap: nowrap);
      gap: 4px;
      overflow-y: hidden;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      &__item {
        white-space: nowrap;
      }
    }
  }

  // &--native-handler {

  //   @media (hover: hover) {
  //     .n-select--custom {
  //       display: block;
  //     }

  //     select:focus + .n-select--custom {
  //       display: none;
  //     }
  //   }
  // }

  &__search-input {
    @include flex($align-items: center);
    font: inherit;
    background: none;
    border: none;
    color: var(--color);
    max-width: calc(var(--width) - calc(3 * var(--padding-select)));
    padding: 0 !important;

    &:focus {
      outline: none;
    }
  }

  &__options-wrapper {
    top: 0;
    left: 0;

    &.active .n-select__options {
      display: block;
    }
  }

  &__options {
    position: absolute;
    cursor: pointer;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1;
    display: none;
    background: #fff;
    border: var(--border-width) solid;
    border-color: var(--border-color);
    transform: translateY(calc(var(--negative-factor) * var(--border-width)));
    outline: none;
  }

  &__option {
    font-size: var(--text-size);
    position: relative;
    padding: var(--option-padding);
    height: var(--height);
    @include flex($place: 'start center');
    background-color: var(--option-background-color);

    &__inner {
      width: 100%;
    }

    &.selected {
      &:hover {
        background-color: var(--option-hover-background-color);
      }

      .n-select--custom__option-inner {
        &::after {
          content: '✓';
          position: absolute;
          right: var(--option-padding);
        }
      }
    }

    &:hover {
      background-color: var(--option-hover-background-color);
      cursor: default;
    }

    &.candidate {
      background-color: var(--option-hover-background-color);
    }
  }

  select,
  &--custom__placeholder {
    font-size: var(--text-size);
    background-color: var(--background-color);
  }
}
