.radio-input {
    label {
      display: inline-flex;
      &[disabled="disabled"],
      &:disabled {
        opacity: .3;
      }
    }
  
    // custom styling
    .radio-input__radio {
      appearance: none;
      height: var(--height, 16px);
      width: var(--width, 16px);
      border: solid 1px var(--color, #111);
      margin-right: calc(var(--width, 16px) / 2);
      position: relative;
      outline: none;
      border-radius: 50%;
  
      &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        border-radius: inherit;
        background: var(--color, #111);
        transform: scale(0) translate(-50%, -50%);
        transition: transform .2s ease-in-out;
        transform-origin: left top;
      }
      &:checked::before{
        transform: scale(1) translate(-50%, -50%);
      }
    }
  } 