@import 'sxcss';
@import '@/styles/utils/chevron.scss';

.nui-select {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  width: var(--width);
  color: var(--color);

  &--active {
    .nui-select__select-wrapper::after {
      transform: translateY(calc(-50% + 4px)) rotate(225deg);
    }
  }

  &--search-active {
    .nui-select__select--native {
      color: transparent !important;
    }
  }

  &[nui-validation='true'][disabled='disabled'] {
    cursor: not-allowed;
  }

  * {
    box-sizing: inherit;
    user-select: none;
  }

  &__select {
    &-wrapper {
      position: relative;

      &::after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        right: 14px;
        top: calc(50% - 3px);
        transform: translateY(-50%) rotate(45deg);
        transition: transform 0.2s ease-out;
        transform-origin: center;
        pointer-events: none;
      }
    }

    &__trigger {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    // &--multiselect,
    &--native,
    option {
      background-color: var(--background-color, #fff);
    }

    &--native {
      pointer-events: none;
      padding-left: calc(var(--padding) - 4px) !important;

      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }

      &[multiple='multiple'] {
        overflow-y: hidden;
        option {
          visibility: hidden;
          pointer-events: none;
        }
      }

      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }

      &:focus {
        outline: -webkit-focus-ring-color auto 1px;
        outline-offset: 0px;
      }
    }

    &--multiselect {
      // border: var(--border-width) solid;
      // border-color: var(--border-color);
      padding: var(--padding);
      position: absolute;
      top: 0;
      @include size(100%);
      @include flex($align-items: center, $wrap: nowrap);
      gap: 4px;
      overflow-y: hidden;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      &__item {
        white-space: nowrap;
      }
    }
  }

  &--native-handler {
    .nui-select__select {
      &-wrapper {
        pointer-events: none;
      }

      &--native {
        pointer-events: all !important;
      }
    }
  }

  &__search-input {
    @include flex($align-items: center);
    font: inherit;
    background: none;
    border: none;
    color: var(--color);
    max-width: calc(var(--width) - calc(3 * var(--padding-select)));
    padding: var(--padding) !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    &:focus {
      outline: none;
    }
  }

  &__options {
    top: 0;
    left: 0;

    &--active .nui-select-options {
      display: block;
    }
  }

  &-options {
    position: absolute;
    cursor: pointer;
    left: 0;
    width: 100%;
    background-color: var(--background-color, #fff);
    z-index: 1;
    display: none;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    transform: translateY(calc(var(--negative-factor) * var(--border-width)));
    outline: none;
  }

  &-option {
    color: var(--color);
    font-size: var(--text-size);
    position: relative;
    padding: var(--padding);
    height: var(--height);
    @include flex($place: 'start center');
    background-color: var(--background-color);

    &__inner {
      width: 100%;
    }

    &.selected {
      .nui-select-option__inner {
        padding-left: calc(10px + var(--padding));
        &::before {
          content: '✓';
          position: absolute;
          left: var(--padding);
        }
      }
    }

    &:hover {
      background-color: var(--option-hover-background-color);
      cursor: pointer;
    }

    &.candidate {
      background-color: var(--option-hover-background-color);
    }
  }

  select,
  &--custom__placeholder {
    font-size: var(--text-size);
    background-color: var(--background-color);
  }
}
