[nui-namespace="nui"].number-input {

  input {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
  }
}
