@import '../mixins/forms.scss';

:is(.n-form-input) {
  display: grid;
  row-gap: var(--gap);
  justify-content: start;
  width: var(--width);

  .n-validation-alerts {
    display: grid;
    gap: calc(var(--gap) / 4)
  }

  .n-validation-alert {
    color: var(--color);
  }

  textarea,
  input:is(
    [type="text"],
    [type="email"],
    [type="tel"],
    [type="pasword"],
    [type="date"],
    [type="time"],
    [type="url"],
  ) {
    @include input-box(
      $height: var(--height),
      $width: var(--width),
      $padding: var(--padding)
    );

    &[nui-validation="true"] {
      @include validations(
        $color-valid: var(--color-valid),
        $color-invalid: var(--color-invalid)
      );
    }

  }

  textarea {
    resize: var(--resize);
  }

  label {
    &[disabled="disabled"],
    &:disabled {
      opacity: var(--disabled-opacity, .3);
    }
  }
}
