@import 'sxcss';

:root {
  --negative-factor: -1; // We need this as CSSO compression causes always appending "-1" value after CSS Variable in calc() function and it throws parsing error for final minified CSS file
}

.n-form-field {
  display: grid;
  row-gap: var(--gap);
  justify-content: start;
  width: var(--width);

  .n-validation-alerts {
    display: grid;
    gap: calc(var(--gap) / 4);
  }

  .n-validation-alert {
    color: var(--color, var(--color-invalid));
  }

  textarea,
  select,
  input:is([type='text'], [type='email'], [type='tel'], [type='pasword'], [type='date'], [type='time'], [type='url']) {
    font-size: inherit;
    box-sizing: border-box;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: var(--height);
    width: var(--width);
    appearance: none;
    color: var(--color);
    // border: var(--border);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    padding: var(--padding);
    font-family: inherit;
    background-color: var(--background-color);

    &[nui-validation='true'] {
      &:not(:invalid) ~ &,
      &:not(:focus):required:invalid ~ & {
        display: none;
      }

      &:not(:required):invalid,
      &:not(:placeholder-shown):required:invalid,
      &:focus:required:invalid {
        border-color: var(--color-invalid);
      }

      &:not(:placeholder-shown):valid,
      &:required:valid {
        border-color: var(--color-valid);
      }

      &[disabled='disabled'] ~ .alerts {
        @include hide;
      }

      &[disabled='disabled'],
      &:disabled {
        cursor: not-allowed;
      }

      &:not(:focus):required:invalid {
        border-color: inherit;
      }
    }
  }

  textarea {
    resize: var(--resize);
  }
}
