@import 'sxcss';

.nui-toggle {
  input:checked + .nui-toggle__handle {
    background-color: var(--background, #999);
  }

  // input:focus + .nui-toggle__handle {
  //   box-shadow: 0 0 1px var(--toggled-color);
  // }

  input:checked + .nui-toggle__handle:before {
    // content: var(--handle-content-two);
    right: 4px;
    left: calc(50% - 4px);
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: var(--width, 56px);
    // min-width: 58px;
    min-height: 32px;

    input {
      padding: 0;
      margin: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 9;
    }

    &::before {
      @include flex($place: center);
      content: var(--handle-content-one);
      position: absolute;
      z-index: 1;
      left: 4px;
      right: 100%;
      min-height: 24px;
      min-width: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      @include flex($place: center);
      content: var(--handle-content-two);
      position: absolute;
      z-index: 1;
      right: 4px;
      left: calc(50% - 4px);
      min-height: 24px;
      min-width: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__handle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background, #eee);
    transition: all 0.4s;

    &:before {
      @include flex($place: center);
      position: absolute;
      right: 100%;
      // content: var(--handle-content-one, '');
      content: '';
      min-height: 24px;
      min-width: 50%;
      left: 4px;
      bottom: 4px;
      background-color: var(--dot-color);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    &.rounded {
      &,
      &:before {
        border-radius: 40px;
      }
    }
  }
}
