// Core styles

@import 'sxcss';

.nui-badge {
  @include flex($place: center);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  height: var(--size);
  min-width: var(--size);
  background: var(--background);
  color: var(--color);
  font-size: var(--font-size, 10px);
  padding: var(--padding);
}
