.n-progress {
  position: relative;
  height: var(--height);
  width: var(--width);
  
  progress {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    color: var(--color);
    height: 100%;
    width: 100%;
    border: none;

    &::-webkit-progress-value,
    &::-moz-progress-bar {
      background-color: var(--color);
    }
  }
}
