@import '../../styles/mixins/forms.scss';

[nui-namespace="nui"].checkbox-input {
  @include form-item(
    $form-element: 'input',
    $alerts-classname: '.checkbox-input__alerts',
    $gap: var(--gap),
    $alerts-color: var(--alerts-color));

  label {

    &[disabled="disabled"],
    &:disabled {
      opacity: .3;
    }
  }
} 