@import '../../styles/mixins/forms.scss';

[nui-namespace="nui"] {

  &.text-input {
    @include form-item(
      $form-element: 'input',
      $validations-classname: '.text-input__validations',
      $gap: var(--gap),
      $validation-color: var(--validation-color)
    );

    input {
      @include input-box(
        $height: var(--height),
        $width: var(--width),
        $padding: var(--padding)
      );

      /////// TO BE REFACTORED AS MIXIN

      &:invalid {
        outline-color: var(--color-invalid);
      }

      &:not(:placeholder-shown):valid {
      // &:valid {
        outline-color: var(--color-valid);
      }

      &:not(:invalid) ~ .text-input__validations,
      &[disabled="disabled"] ~ .text-input__validations {
        @include hide;
      }

      &[disabled="disabled"],
      &:disabled {
        cursor: not-allowed;
      }
    }

    label {
      &[disabled="disabled"],
      &:disabled {
        opacity: .3;
      }
    }

    ///////
  }
}
