@import '../../styles/mixins/forms.scss';

[nui-namespace="nui"] {

  &.text-input {
    @include form-item(
      $form-element: 'input',
      $alerts-classname: '.text-input__alerts',
      $gap: var(--gap),
      $color-valid: var(--color-valid),
      $color-invalid: var(--color-invalid)
    );

    input {
      @include input-box(
        $height: var(--height),
        $width: var(--width),
        $padding: var(--padding)
      );
    }

    label {
      &[disabled="disabled"],
      &:disabled {
        opacity: .3;
      }
    }
  }
}
