@import 'sxcss';

.nui-picture {
  background: var(--background);
  display: flex;
  color: transparent;

  img {
    object-fit: var(--object-fit);
    width: var(--width, 100%);
    height: var(--height, 100%);
    max-width: var(--max-width);
    max-height: var(--max-height);
  }
}
