.n-accordion {
  width: var(--width);

  &__items {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    width: 100%;

    &__inner {
      display: flex;
      justify-content: space-between;

      &.open {
        padding-bottom: var(--padding-bottom);
      }
    }

    &__title {
      cursor: pointer;
      width: 100%;
    }

    &__arrow {
      transition: transform 0.4s;

      &.open {
        transform: rotate(-180deg);
      }
    }
  }
}
