@import '@/styles/utils/chevron.scss';

.nui-accordion {
  list-style: none;
  margin: 0;
  padding: var(--padding);
  width: var(--width);

  &-item {
    width: 100%;

    &--active {
      .nui-accordion-item__title::after {
        transform: translateY(calc(-50% + 4px)) rotate(225deg);
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      width: 100%;
      position: relative;

      &::after {
        @include chevron;
        right: 14px;
        top: calc(50% - 3px);
        transform: translateY(-50%) rotate(45deg);
        transition: transform 0.1s ease-out;
        transform-origin: center;
        pointer-events: none;
      }
    }

    &__content {
      opacity: 0;
      &:not(.nui-accordion-item__content--active) {
        max-height: 0;
      }
      transition: var(--transition);

      &--active {
        opacity: 1;
        max-height: var(--content-height);
      }
    }
  }
}
