@import 'sxcss';

:root {
  --negative-factor: -1;
}

@mixin input-box(
  $height,
  $width,
  $padding: 0
) {
  font-size: inherit;
  box-sizing: border-box;
  height: $height;
  width: $width;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: var(--outline-width) solid;
  outline-offset: calc(var(--negative-factor) * var(--outline-width)); // We need this as CSSO compression causes always appending "-1" value after CSS Variable in calc() function and it throws parsing error for final minified CSS file
  padding: $padding;
  font-family: inherit;
}

@mixin validations(
  $color-valid,
  $color-invalid
) {

  &:not(:invalid) ~ &,
  &:not(:focus):required:invalid ~ & {
    display: none;
  }

  &:not(:required):invalid,
  &:not(:placeholder-shown):required:invalid,
  &:focus:required:invalid {
    outline-color: $color-invalid;
  }

  &:not(:placeholder-shown):valid,
  &:required:valid {
    outline-color: $color-valid;
  }

  &[disabled="disabled"] ~ .alerts {
    @include hide;
  }

  &[disabled="disabled"],
  &:disabled {
    cursor: not-allowed;
  }

  &:not(:focus):required:invalid {
    outline-color: inherit;
  }
}
