@import 'sxcss';

@mixin form-item(
  $form-element,
  $validations-classname,
  $gap: null,
  $validation-color: null,
) {
  display: grid;
  gap: $gap;
  
  #{$form-element} {
    font-size: inherit;
  }

  #{$form-element}:not(:invalid) + #{$validations-classname} {
    display: none;
  }
  
  #{$validations-classname} {
    display: grid;
    gap: calc(#{$gap} / 4);
    color: $validation-color;
  }
}

@mixin input-box(
  $height,
  $width,
  $padding: 0
) {
  height: $height;
  width: $width;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: var(--outline-width) solid;
  outline-offset: -var(--outline-width);
  padding: $padding;
  font-family: inherit;
}
