.carousel {
  @include flexbox-carousel(
    $navigation-enabled: true,

    $wrapper-height: 450px,
    $wrapper-width: 100%,
    $wrapper-max-width: 37.5rem,
    $viewport-classname: '.carousel__viewport',
    $viewport-counter: true,

    $slide-classname: '.carousel__item',
    $slide-flex: 0 0 100%,
    $slide-width: 25%,
    $slide-counter: true,
    
    $navigation-classname: '.carousel__navigation',
    $pagination-classname: '.carousel__pagination',
    $pagination-enabled: true,
    
    $gap: 16px
  );

  &::after {
    right: 0;
  }

  .carousel__item {
    @include flex($place: center);
    background-color: #bbb;

    &-content {
      @include flex($place: center);
      text-align: center;
      font: 700 24px/32px -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
      color: var(--black) !important;
    }
  }
}
